body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #052149;
    
    /*Added gradient background*/
    background: -webkit-linear-gradient(#3eb5f7, #052149);
    background: -moz-linear-gradient(#3eb5f7, #052149);
    background: linear-gradient(#3eb5f7, #052149);
    color: black;
    font-family: 'Oswald', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background: #052149;
    background: -webkit-linear-gradient(#3eb5f7, #052149);
    background: -moz-linear-gradient(#3eb5f7, #052149);
    background: linear-gradient(#3eb5f7, #052149);
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.img-thumbnail {
    height: 150px;
    border: 0;
}

.header {
    background-image: url('../Images/headerbg.jpg');
    background-size: cover;
    color: black;
    text-align: center;
    display: block;
}

.navbar.navbar-inverse.navbar-fixed-top {
    background: #052149;
    background: -webkit-linear-gradient(#3eb5f7, #052149);
    background: -moz-linear-gradient(#3eb5f7, #052149);
    background: linear-gradient(#3eb5f7, #052149);
    color: black;
}

    .navbar.navbar-inverse.navbar-fixed-top a {
        color: black;
        font-size: larger;
    }

        .navbar.navbar-inverse.navbar-fixed-top a:hover {
            color: #052149;
            display: block;
            background-color: #3eb5f7;
            font-size: larger;
        }

.btn.btn-default {
    background: #052149;
    background: -webkit-linear-gradient(#3eb5f7, #052149);
    background: -moz-linear-gradient(#3eb5f7, #052149);
    background: linear-gradient(#3eb5f7, #052149);
    color: black;
    border: 0;
}

footer {
    text-align: center;
}

.homeCol {
    text-align: center;
}

#adPicture {
    margin-top: 60px;
}

.otherHeaders {
    color: black;
    text-align: center;
    display: block;
}

#catType {
    margin: 15px;
}

.title {
    text-align: left;
}

/*Added to put doller sign before money*/
#money::before {
    content: "$";
}

.stars {
    height: 25px !important;
}

.reviewCol {
    /*Done to correct the problem with rows in a foreach loop*/
    height: 380px;
    width: 380px;
    margin-bottom: 8px;
    margin-top: 8px;
}
#catTitle{
    text-align:center;
}