@model IEnumerable<TechReviews.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Categories</h2>

@*Wanted a real quick way to see the categories, I orginally wanted to link them so you would see
only items in each category but I could not figure it out.*@

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 reviewCol" id="catTitle">
            <h4>
                @Html.DisplayFor(modelItem => item.Type)
            </h4>
            <img class="img-responsive img-thumbnail" src="@Html.DisplayFor(modelItem => item.CategoryImg)" />
        </div>
    }
</div>

