@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron header">
    <h1>All Tech All the Time</h1>
    <h3>Best Tech Reviews on the Web</h3>
    <p class="lead"></p>    
</div>

<div class="row">
    <div class="col-md-3 homeCol">
        <h2>Buy Your Tech Here</h2>
        <p>
            Aenean aliquet massa nec pretium dignissim. Praesent eu turpis nec dolor efficitur finibus. 
            Nunc sed luctus dui. Fusce egestas non nibh eu consectetur. Sed in rutrum dolor, et eleifend lectus.
        <p>
        <a class="btn btn-default" href="https://www.newegg.com/"target="_blank">Newegg &raquo;</a></p>
    </div>
    <div class="col-md-6 homeCol">
        <a href="http://www.dice.com/" target="_blank"><img class="img-responsive" id="adPicture" src="~/Images/billboard-2.jpg" /></a>
    </div>
    <div class="col-md-3 homeCol">
        <h2>Review The Tech Yourself</h2>
        <p>Aliquam eleifend bibendum libero, a molestie urna consectetur ut. Nullam quis neque viverra, vestibulum arcu et, 
        aliquet sem. Sed vel rhoncus tellus, ac feugiat nulla. Sed at purus porta, sollicitudin.</p>
        <p><a class="btn btn-default" href="@Url.Action("Create", "Reviews")">Add Reviews &raquo;</a></p>
    </div>
</div>